# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/
*.venv

# Ignore log files and temp files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor/IDE files
.vscode/
.idea/
*.swp
*~

# Ignore Data Files
*.pkl
*.pt
*.root
*.csv

# Ignore Symlinks
Data

# Ignore Make-depend
*Make-depend
